:root {
  --googleCheckerBackgroundColor: #6bb0fb;
  --googleCheckerUncheckedBackgroundColor: #a9a9a9;
  --googleCheckerColor: white;
  --googleCheckerWidth: 70px;
  --googleCheckerHeight: 35px;
}

input[controller="google-checker"] {
  opacity: 0;
  position: absolute;
  left: 0;
  width: var(--googleCheckerWidth);
  height: var(--googleCheckerHeight);
  cursor: pointer;
  z-index: 9999;
}

.google-checker {
  width: var(--googleCheckerWidth);
  height: var(--googleCheckerHeight);
  background-color: var(--googleCheckerUncheckedBackgroundColor);
  border-radius: calc(var(--googleCheckerHeight) / 2);
  position: relative;
  box-shadow: 0 0 7px rgba(0, 0, 0, .3) inset;
}

.google-checker::after {
  content: '';
  position: absolute;
  width: calc(var(--googleCheckerHeight) * 0.9);
  height: calc(var(--googleCheckerHeight) * 0.9);
  border-radius: 50%;
  background-color: var(--googleCheckerColor);
  top: calc(var(--googleCheckerHeight) * 0.05);
  left: calc(var(--googleCheckerHeight) * 0.05);
  transition: .25s all ease-in-out;
}

input[controller="google-checker"]:checked ~ .google-checker {
  background-color: var(--googleCheckerBackgroundColor);
}

input[controller="google-checker"]:checked ~ .google-checker::after {
  transform: translateX(calc(var(--googleCheckerWidth) - var(--googleCheckerHeight)));
}

.google-checker-container {
  position: relative;
}

.panel {
  box-shadow: none;
}
.panel-heading {
  border-bottom: 0;
}
.panel-title {
  font-size: 17px;
}
.panel-title > small {
  font-size: .75em;
  color: #999999;
}
.panel-body *:first-child {
  margin-top: 0;
}
.panel-footer {
  border-top: 0;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
}

form label {
    color: #999999;
    font-weight: 400;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

.profile__contact-info-icon {
    float: left;
    font-size: 18px;
    color: #999999;
}
.profile__contact-info-body {
    overflow: hidden;
    padding-left: 20px;
    color: #999999;
}
.profile-avatar {
  width: 200px;
  position: relative;
  margin: 0px auto;
  margin-top: 196px;
  border: 4px solid #f3f3f3;
}

body{margin-top:20px;}


/* USER LIST TABLE */
.user-list tbody td > img {
position: relative;
max-width: 50px;
float: left;
margin-right: 15px;
}
.user-list tbody td .user-link {
display: block;
font-size: 1.25em;
padding-top: 3px;
margin-left: 60px;
}
.user-list tbody td .user-subhead {
font-size: 0.875em;
font-style: italic;
}

/* TABLES */
.table {
border-collapse: separate;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
background-color: #eee;
}
.table thead > tr > th {
border-bottom: 1px solid #C2C2C2;
padding-bottom: 0;
}
.table tbody > tr > td {
font-size: 0.875em;
background: #f5f5f5;
border-top: 10px solid #fff;
vertical-align: middle;
padding: 12px 8px;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
padding-left: 20px;
}
.table thead > tr > th span {
border-bottom: 2px solid #C2C2C2;
display: inline-block;
padding: 0 5px;
padding-bottom: 5px;
font-weight: normal;
}
.table thead > tr > th > a span {
color: #344644;
}
.table thead > tr > th > a span:after {
content: "\f0dc";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
margin-left: 5px;
font-size: 0.75em;
}
.table thead > tr > th > a.asc span:after {
content: "\f0dd";
}
.table thead > tr > th > a.desc span:after {
content: "\f0de";
}
.table thead > tr > th > a:hover span {
text-decoration: none;
color: #2bb6a3;
border-color: #2bb6a3;
}
.table.table-hover tbody > tr > td {
-webkit-transition: background-color 0.15s ease-in-out 0s;
transition: background-color 0.15s ease-in-out 0s;
}
.table tbody tr td .call-type {
display: block;
font-size: 0.75em;
text-align: center;
}
.table tbody tr td .first-line {
line-height: 1.5;
font-weight: 400;
font-size: 1.125em;
}
.table tbody tr td .first-line span {
font-size: 0.875em;
color: #969696;
font-weight: 300;
}
.table tbody tr td .second-line {
font-size: 0.875em;
line-height: 1.2;
}
.table a.table-link {
margin: 0 5px;
font-size: 1.125em;
}
.table a.table-link:hover {
text-decoration: none;
color: #2aa493;
}
.table a.table-link.danger {
color: #fe635f;
}
.table a.table-link.danger:hover {
color: #dd504c;
}

.table-products tbody > tr > td {
background: none;
border: none;
border-bottom: 1px solid #ebebeb;
-webkit-transition: background-color 0.15s ease-in-out 0s;
transition: background-color 0.15s ease-in-out 0s;
position: relative;
}
.table-products tbody > tr:hover > td {
text-decoration: none;
background-color: #f6f6f6;
}
.table-products .name {
display: block;
font-weight: 600;
padding-bottom: 7px;
}
.table-products .price {
display: block;
text-decoration: none;
width: 50%;
float: left;
font-size: 0.875em;
}
.table-products .price > i {
color: #8dc859;
}
.table-products .warranty {
display: block;
text-decoration: none;
width: 50%;
float: left;
font-size: 0.875em;
}
.table-products .warranty > i {
color: #f1c40f;
}
.table tbody > tr.table-line-fb > td {
background-color: #9daccb;
color: #262525;
}
.table tbody > tr.table-line-twitter > td {
background-color: #9fccff;
color: #262525;
}
.table tbody > tr.table-line-plus > td {
background-color: #eea59c;
color: #262525;
}
.table-stats .status-social-icon {
font-size: 1.9em;
vertical-align: bottom;
}
.table-stats .table-line-fb .status-social-icon {
color: #556484;
}
.table-stats .table-line-twitter .status-social-icon {
color: #5885b8;
}
.table-stats .table-line-plus .status-social-icon {
color: #a75d54;
}

.label-default.active {
  width: 10px;
  height: 10px;
  background-color: green;
  color: transparent;
  border-radius: 100%;
  display: inline-block;
}

.label-default.inactive {
  width: 10px;
  height: 10px;
  background-color: #777;
  color: transparent;
  border-radius: 100%;
  display: inline-block;
}

.firstname-container, .lastname-container {
  display: inline-block;
}

.status-radio-checkers {
  position: relative;
  border-radius: 50px !important;
  background-color: #777 !important;
  display: inline-block !important;
  width: calc(60px + 1rem) !important;
  height: 34px !important;
  opacity: 1 !important;
}

.status-radio-checkers input {
  display: inline-block !important;
  width: 30px !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
}

.status-radio-checkers input:first-child {
  margin-right: 1rem !important;
}

.status-radio-checkers input:last-child {
  left: auto !important;
  right: 0 !important;
}

.status-radio-checkers input["checked"] {
  background-color: white !important;
  opacity: 1 !important;
}
